<a href="https://colab.research.google.com/github/AliK1977/DS_Assignments/blob/main/Stats_Assign_(Central_Tendency%26_Dispersion).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [ ]:
import numpy as np
import scipy 
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [ ]:
samples =np.random.normal(100,15,1000)
samples

array([ 88.58425802,  89.37523361,  84.92658642, 103.88611519,
        93.20903979,  92.01775333,  93.57961686,  90.50962781,
        56.66207611,  98.71615571,  66.7282125 , 107.2478953 ,
       103.77644647,  93.56855666,  93.54901885, 119.80173142,
        94.61310429, 103.75917931, 113.87630311,  89.62383053,
        75.08998306,  99.65054935,  92.09678645,  95.55847944,
        85.98815596,  95.0394874 ,  86.14869957, 116.67512178,
        97.16876691,  91.26785233, 100.4663498 ,  80.18158049,
        87.42487071, 124.13572365,  73.70634082,  95.60068055,
       102.4805214 , 109.58506886, 108.95183035,  89.15559745,
        64.88318482,  94.41391983,  86.93434298,  67.75451962,
       100.25791187, 100.99087188, 120.83321995,  86.82451949,
        84.00729993,  98.46125009,  83.28526826, 110.31877891,
       101.2872234 ,  78.5601681 ,  85.78260485,  83.82641179,
       120.94313295, 107.41528012,  88.01329158, 101.30140281,
       126.17719194,  76.69802799, 121.35246469, 115.85244073,
       125.14151108, 118.65447232,  91.10865737, 106.38412066,
        72.61802301,  94.97485696,  99.37349403,  84.02989335,
       109.07095951, 107.02668028, 110.9308684 , 104.62827567,
       108.33000119, 134.7580955 , 117.25656931,  96.43567275,
        85.73527521, 123.02532055,  95.38205142, 121.18404717,
       105.7963622 ,  87.44742508, 105.01373535, 116.3157592 ,
       123.47613789, 123.55895761,  99.17622038, 112.25121713,
        98.67742112,  94.33603044,  93.40492085,  94.57487685,
        92.99151011, 102.11725042,  81.13957178,  71.89402202,
        99.80309527, 112.05557527,  92.66113596, 101.73287536,
        93.49674072,  94.70825888,  84.2963716 ,  86.79974657,
       124.44178194, 115.07696468,  83.36558052,  80.93757713,
        73.37756874, 118.32675492, 110.00592154, 116.2948401 ,
        85.44200359,  98.10311674, 100.20056249,  87.95917841,
       129.52568   ,  96.54428096,  77.30550065, 112.88729182,
        97.66023014,  90.97306108,  88.40115439, 102.08357895,
       121.04611158, 100.84044077,  97.68922954,  85.42113652,
       113.24985769,  92.16229786, 100.67422724, 100.94678925,
        87.65887055,  92.26334165, 133.23931725,  81.52587943,
        89.3891181 , 102.55686976,  85.50116731, 102.81786624,
        95.19509445,  86.77425506,  77.66173529,  80.15386827,
       109.00374073, 122.28781789,  97.09324625,  99.70712365,
        82.79320482, 123.1590351 , 108.82910483, 117.06673924,
        77.34714273,  99.72829491, 103.97518091,  95.59315272,
       120.14937102, 104.55420829, 111.1018053 , 105.0486788 ,
       105.80360637, 103.33351528, 105.6013396 , 100.21191837,
       103.6141742 , 119.00257894,  79.23015436, 107.43836177,
        87.86805466, 101.48135855, 142.12486147,  71.21678039,
        80.88419346, 100.21347292,  81.92533105,  96.50777069,
       103.54511982, 101.33817764, 110.98792594, 118.86707213,
       103.51487001,  99.65031271,  65.29945541, 105.66674593,
        87.38933977,  98.55308534, 108.34217493,  96.15364128,
        84.07731445, 110.9115802 ,  97.4645199 , 105.19907914,
        88.31591712,  95.98136798, 101.79532649,  98.49550774,
       100.46737111, 104.28750389,  97.28504307, 107.45566992,
       127.6042468 ,  88.89626646,  87.78022087, 109.64661642,
       107.81471875, 101.64982203, 106.92443655, 103.22099991,
        92.42218854,  82.42795577,  94.28885324, 105.66122766,
        94.27849542,  95.94200708, 112.27988121,  64.74590495,
       110.49195002, 105.66167032, 111.51554968, 107.5846114 ,
        93.3874641 , 114.49187394,  77.50969418,  67.65877916,
        94.19170231, 119.68747307,  95.50209822, 119.35305977,
       101.36199354, 108.21892149, 104.27635264, 104.55283746,
        90.57242503,  68.12161204,  86.38208088, 109.12255565,
        85.95230823,  92.49412113,  81.24387338, 129.37821579,
        90.68754263, 101.1277821 , 113.19950526,  77.96453398,
        96.81784699, 101.85674312, 126.43255458,  84.53940702,
       111.57316908,  80.51399679, 105.52744863, 120.92927828,
        93.20918113,  76.68232964,  75.30770013,  89.59013487,
        99.09701654, 106.76118732, 111.96478498,  61.36071367,
       103.92202436,  96.9168605 , 108.7596884 ,  79.78880127,
       114.53604266, 103.77095531,  74.39914498,  89.83718006,
        86.85762481,  92.20013671,  84.69152783, 117.22237155,
       101.9821516 , 109.88092832,  94.82532857, 109.93230355,
        99.02064913,  97.24682982, 105.48022324,  70.843635  ,
       120.88009044, 107.27625295,  92.93165195, 104.1268708 ,
        91.8144038 ,  70.04323363, 125.66584942,  91.74097663,
       117.55886138, 120.56686759,  98.58764441,  97.85717758,
       107.81509178,  74.98843878,  78.60958521, 113.10837651,
       102.22400538, 117.99781287,  94.66284538, 129.0664957 ,
       121.17493864,  96.58548421, 121.2060036 ,  90.07987593,
        86.142947  , 134.83535455, 132.10479517, 131.35124988,
        94.83502956, 119.69473136,  96.57833075,  96.68761926,
       132.45492554, 110.51323267,  89.85661153,  84.39205559,
        90.60008958,  89.70747863, 104.88772331,  93.62659978,
       117.94468725, 119.35472824,  79.84783148, 103.89618468,
        90.79092237, 117.8677668 ,  67.97844915, 107.20691162,
        99.89707107, 115.24273279, 121.76589551, 104.77879782,
        97.31173999, 107.9967163 ,  95.89683683, 109.55250527,
        97.01126749,  90.04826068,  88.66085994,  75.57476951,
       117.70588153,  84.43740754,  96.32928022,  79.42194332,
       104.22365933, 130.40463506, 105.64299178,  96.27739681,
       112.98053369,  96.44485912, 103.08223149,  79.63265581,
       114.79312569,  86.21664169,  84.07623412, 114.7171412 ,
        67.50733109,  89.12393332,  78.72845928, 113.3695836 ,
       107.43291749, 103.66890559,  83.20821433,  75.84544234,
        86.14998858, 106.3126285 ,  94.93604067,  74.07977362,
        93.56189202, 116.79614361, 114.40845577,  99.08050697,
       114.9103008 , 129.84452676,  85.86068301,  92.6395702 ,
       119.29661961,  82.55991218, 100.71670472, 114.44182453,
        73.06537029,  92.53196695,  81.94868638, 117.9832732 ,
       119.56231407, 104.47653887, 112.09103614,  80.24014835,
        87.98696839,  92.66938396,  79.97392447,  90.46847813,
        86.35795928, 112.68709194, 112.60588147,  91.57819841,
        80.95116819, 121.01179045,  99.7655423 , 115.37753897,
        95.92007283,  97.08573406, 117.61929103,  75.97933769,
        82.83509428,  91.39193908, 100.75835165, 143.39655528,
        87.70708238, 104.95915813, 125.31881484, 107.26000378,
       104.99445762,  83.59892397, 100.28985237, 122.24495905,
       118.57024102, 104.44722733,  65.59524343,  96.93602289,
       143.96746677, 105.67811118, 110.08783869,  95.8984437 ,
       126.22271158,  96.99410082, 114.45732827,  91.11988416,
        93.07744994, 117.9674465 ,  72.05325961,  92.38757683,
        94.09489587,  84.54941813, 112.05851093,  75.76970129,
       113.03643251, 105.44265505,  76.72094734, 121.76393914,
        88.45118595,  89.79468163, 104.86609373,  95.36205711,
       116.67786342, 102.16810726, 104.72731922, 112.62777298,
       114.01062099,  85.32948729,  93.05931496, 107.29230921,
       106.53754453, 114.54127601, 100.16736672,  92.7778856 ,
       104.8728757 , 105.47281557, 103.02437213, 114.47317325,
       105.65197606, 105.35128387,  69.47219404, 114.39300637,
       102.70600063, 130.7356713 , 111.06527244,  83.03453964,
       118.9220108 , 107.23203323, 115.68187173,  95.81535122,
       118.76700811, 129.21593173,  81.01533301, 108.59934608,
        92.32913631, 111.13974502, 109.67700323,  63.60704675,
        92.70737502,  98.0472981 ,  98.67462732, 106.23062558,
        71.14927246,  72.97830979,  79.99830341, 101.89694231,
       123.65666349, 105.04751552, 100.207088  , 118.33809741,
        94.0289186 , 105.7286358 , 101.75653606,  88.2477287 ,
       115.46789706,  97.69053455,  95.08490868, 116.14379238,
        96.38275134,  96.78306119,  94.30003188,  90.72579608,
       103.22596024,  91.94341341, 116.35441337,  83.44464962,
        79.264709  , 124.16261302, 112.04392196, 112.48337939,
       114.20469921, 120.00109664, 107.63173212, 116.20968537,
        70.39061503,  68.43019614,  99.64437034,  99.68866903,
        76.3617523 ,  91.33509096, 110.81850904,  85.20570469,
        97.28542368, 117.68673398, 105.42675397, 127.80653098,
        92.57801965, 102.98802484,  82.78481527, 108.76754806,
       116.11278216,  94.07594187,  77.74697685, 112.72499189,
       126.30699016,  74.85295004,  95.05392514, 111.34390025,
        81.58680891,  71.90941772,  86.4188594 ,  84.79523901,
       122.05431606, 103.56980103, 131.50294987,  77.53991752,
        93.88133268, 116.92554076, 102.55906088,  83.42214082,
        64.6310766 , 132.78546625,  93.71427513,  77.60424338,
        99.50860518, 103.00352363, 106.50993512, 107.24454418,
       105.37247399,  90.091382  , 122.13207576, 125.83829762,
       114.27402113, 109.72397232,  65.54828342, 106.01350435,
        65.98832266, 109.28883685,  79.69685921,  96.68727363,
        96.13562785,  98.32736968,  88.35961716,  66.96981518,
        98.02923532,  84.9466791 ,  97.01966577, 103.04821344,
       121.08129484,  86.86921726,  84.31315938,  94.84336038,
        87.98579392, 114.1601347 , 131.04671179,  88.1433442 ,
        91.09287433, 108.63459226,  77.37830219, 105.23282655,
       101.92069601,  75.4122097 ,  87.42116696, 105.96201017,
        79.62069506, 101.50880214,  88.00025721,  79.95514221,
       109.18612267,  83.03158635, 100.1602761 ,  67.77950109,
        84.12307694, 110.01698864,  91.99299942,  80.07289357,
        81.52322391, 116.89078563,  86.08281665, 100.71417669,
       126.67734441, 114.93757702, 101.95767881,  84.18215667,
        82.65852244,  90.11079469, 101.16683747, 106.47231769,
       107.38986813,  99.47831696,  86.95721543, 102.87719391,
        78.5248116 , 103.27043422,  93.19689361,  98.94497077,
        88.35260807,  90.4830567 ,  89.97821085, 101.12913911,
       109.98788086, 129.75206809,  85.60221806, 101.52288692,
       113.1229405 , 108.61838279, 121.26499165, 110.19968373,
        81.87431413,  67.71239404,  80.47855816,  77.13090483,
        81.48750778, 130.40496976, 109.44036778,  86.92813094,
        76.37050929,  97.13244579, 114.6904247 , 119.88493408,
        80.38067315,  98.12606171,  73.07705431, 124.6516749 ,
       123.10840299,  91.69495734, 117.04594658, 106.969735  ,
       101.67993616, 123.44414499, 112.82074922, 101.80178463,
        90.0231768 , 102.26220922,  79.30361506, 101.41665365,
       122.11754344,  83.36759147, 104.17413398,  78.71519326,
       107.70947901,  83.23675506, 101.49059345, 109.76660839,
       111.491756  ,  74.91454693,  99.16230252,  96.16385274,
       106.51727983, 132.51678806, 104.49669582, 100.17581994,
        81.39149711,  93.18596708, 115.60828801,  78.00428064,
        96.13415596,  83.83245421, 109.72031413, 125.38576713,
       113.79428539, 141.83216556, 111.25019417,  85.23304949,
       107.7417105 , 124.53064306, 115.06600099,  74.6309871 ,
        80.85628825,  97.52469158, 105.80407524, 107.3803617 ,
        95.69684639,  72.1594172 , 108.59395   , 121.53347056,
        81.71393475,  85.23176457, 116.94870066, 120.93688829,
       118.96687544,  88.658548  ,  91.87954849, 102.58404766,
       113.89412229,  62.71999156,  99.53113078, 100.3367487 ,
        92.04145941, 121.80914476,  85.69608556,  98.92140982,
       124.32019492,  90.4598626 , 108.3811916 ,  95.67414837,
       131.78030037,  83.16926847, 112.04050963, 113.54032605,
       105.10676079, 105.80852115,  82.56377858, 105.76388952,
       112.14561692,  94.57762736,  83.75017139,  66.85597794,
        80.47341486, 103.96109774,  86.1967205 , 126.3990961 ,
       111.88318623, 107.26959956, 111.42065087,  79.5377524 ,
        82.7345219 , 109.54134278, 122.01049628, 118.97300675,
       110.46804823,  87.14864373,  65.26049624, 129.51137747,
       106.70931362,  97.72576163, 106.40364177, 102.10280572,
       102.7926493 , 121.33502476, 105.02332521, 117.33363391,
        89.90852771,  95.06885703, 102.33375678,  83.60287047,
        90.38877075,  87.61938301,  88.17438042,  73.93596858,
        76.39691176,  85.3724391 ,  85.37581039, 134.26712494,
       111.07320996,  98.73099395,  95.25989495,  90.35954428,
       100.03446776,  94.89277193,  82.22985536, 101.27149409,
       112.91443107, 109.63636526,  87.03839985,  93.72241883,
       119.38106829, 100.04550488, 116.46908707,  90.49625262,
        69.27907075,  81.81151029, 104.8363994 , 104.09699751,
        97.30699036, 120.48778717, 116.27300862,  94.21975946,
       123.02081063, 101.54560084, 122.84391468,  99.97834845,
        76.74134938,  95.52731926, 130.62115899,  95.20513953,
        96.10249844, 119.8448065 ,  94.91810395,  92.35884644,
        79.87611656,  95.16256711,  79.76434942,  86.81808395,
        76.23776111, 107.56374256,  78.18566219, 124.87922656,
       110.78281368, 107.08644101,  74.20195515, 100.94061827,
        94.80337968,  98.12570968, 116.16172566,  97.70476169,
        84.76422122, 102.13176342, 107.11656157, 116.23812457,
        98.92125591, 121.5167922 , 100.20589449, 101.97492652,
        87.1915626 , 113.42755328, 153.69765665, 108.36676263,
       103.35780337,  93.65693423,  80.84947487,  94.56392127,
        76.60304268, 110.26173961, 113.24851907,  89.5526568 ,
        84.09603159,  95.39558362, 107.75740846,  80.63217978,
        90.9956311 ,  91.31797019, 108.13380067, 107.33490667,
        98.8524478 ,  91.80895217, 101.69929695, 123.7201733 ,
       118.72656782, 101.61105299, 110.26899795, 112.19064434,
        74.36047896,  94.91801725,  87.27488427, 116.18239444,
        95.52749207, 100.76726364,  95.08257214, 100.60734699,
       104.61897535,  93.64905873, 124.3475666 , 117.71226159,
       120.91112064,  91.79303974,  90.94451816,  85.38204755,
       106.81287674,  97.27630389,  95.04949887, 112.89112805,
        83.92894225, 114.52170177,  95.14501309,  69.88038555,
        78.49788252, 133.78772012,  83.45407017, 109.79285577,
        74.9704901 , 125.51608337,  85.48892826,  83.78574541,
       103.73037704, 110.22461158, 117.7464336 ,  84.20094513,
        98.04730032,  91.86842075, 105.20653786, 102.12197197,
       106.07585453,  93.52343729,  83.22887008,  67.50917411,
        88.99629442,  81.40345125,  98.49386853, 101.12942984,
        95.24306615, 108.95269158,  93.77625554,  95.58398483,
       109.07346503,  69.92857991,  89.71966205,  98.40825281,
        99.76276481, 113.10806785, 131.11004401, 108.4676012 ,
        91.23427774,  95.95881653, 119.12841673,  78.92580111,
       112.85664534,  86.36179468, 101.4920874 ,  85.81504231,
        88.77588192,  97.0911322 , 109.43423414, 123.71073014,
       122.41309652,  69.61832927,  82.78376485,  99.16306442,
        82.08243019,  81.18291539, 107.76541787,  84.36490744,
       126.93413322,  82.11486815, 102.40350198,  85.94931631,
        91.9622401 , 107.11557507, 108.29495072,  99.43502807,
        80.69158605, 112.57136924, 132.23749173,  87.77691338,
        87.78905578, 103.14488151, 115.6157473 ,  95.76459834,
        85.5791167 , 134.70639949,  86.04542187, 111.27930466,
       113.11582016,  93.95994611,  73.33218314, 120.49190637,
       117.4859837 ,  70.27575285, 121.85581149, 100.32548669,
       123.52069858, 130.87578356,  79.8657518 ,  99.62652797,
       101.880395  , 107.73900845,  78.48233961, 106.35446214,
       105.32960351, 103.94106361, 129.40318368,  79.73056101,
       109.24684249, 102.75576389,  73.35565652,  91.83950896,
       126.06262263,  85.86868838, 111.40295948,  78.93139955,
       108.07144166, 104.27643056,  99.64388305, 123.55150872])

Compute the **mean**, **median**, and **mode**

In [ ]:
from numpy.lib.function_base import median
import numpy as np
from scipy import stats

mean_samples = np.mean(samples)
print("mean:", mean_samples)

median_samples = np.median(samples)
print("median:", median_samples)

mode_samples= stats.mode(samples)
print("mode:",mode_samples)

mean: 99.51783106104692
median: 99.66960919060952
mode: ModeResult(mode=array([56.66207611]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [ ]:
print("Min: ", (np.min(samples)))

print("Max: ", (np.max(samples)))

print("Q1:", (np.percentile(samples, 25)))

print("Q2:", (np.percentile(samples, 50)))  

print("Q3:", (np.percentile(samples, 75)))

print("IQR:", (stats.iqr(samples)))

Min:  56.66207610881703
Max:  153.6976566488126
Q1: 87.97914004418601
Q2: 99.66960919060952
Q3: 110.03470115626004
IQR: 22.05556111207403

Compute the **variance** and **standard deviation**

In [ ]:
print("Variance: ", (np.var(samples)))

print("Std: ", (np.std(samples)))

Variance:  243.58763748562689
Std:  15.607294367878978

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [ ]:
from scipy.stats import kurtosis, skew
from scipy import stats
scipy.stats. skew(samples)

0.07055509743762874

In [ ]:
scipy.stats.kurtosis(samples)

-0.3258186173303086

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [ ]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [ ]:
y = np.array([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
y

array([ 2,  1,  4,  5,  8, 12, 18, 25, 96, 48])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
r = np.corrcoef(x, y)
r

array([[1.        , 0.75864029],
       [0.75864029, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [ ]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

In [ ]:
x

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [ ]:
y

0     2
1     1
2     4
3     5
4     8
5    12
6    18
7    25
8    96
9    48
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r =scipy.stats.pearsonr(x, y)  # Pearson's r correlation.
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho =scipy.stats.spearmanr(x, y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
df = sns.load_dataset("tips")

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [49]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000